{# XPL_mod #}
{% extends noLayout ? viewbaseLayout : "TuteiBaseBundle::pagelayout.html.twig" %}

{% block content %}

    <article class="content-view-full" itemscope="itemscope" itemtype="http://schema.org/Thing">
        <div class="content-type-folder">
            <header class="attribute-title" itemprop="name">
                <!--<h1 id="main-desc">{{ ez_render_field( content, 'name' ) }}</h1>-->
            </header>
            {% if not ez_is_field_empty( content, "raw_code" ) %}
                {{ ez_field_value( content, 'raw_code' ) | raw }}
            {% endif %}
            {% if not ez_is_field_empty( content, "short_description" ) %}
                <div class="attribute-short" itemprop="description">
                    {{ ez_render_field( content, 'short_description' ) }}

                </div>
            {% endif %}

            {% if not ez_is_field_empty( content, "description" ) %}
                <div class="attribute-long">
                    {{ ez_render_field( content, 'description' ) }}
                </div>
            {% endif %}

            {% if content.fields.show_children is defined and content.getField( 'show_children' ).value.bool %}
                <section class="attribute-children">
                    {{ render( controller( "tutei:showComponent",
                    { 'name': 'LineList',
                        'parameters': { 'location': location,
                        'request': app.request } } ) ) }}
                </section>
            {% endif %}
        </div>
    </article>


{% endblock %}