{# XPL_mod #}
<script type="application/x-javascript">

    xs_angular_app.controller('SimpleBannerCtrl', ["$scope", "$rootScope", "$http", "$window", "XSstorage", function ($scope, $rootScope, $http, $window, XSstorage) {  //variables have to be defined before function, in the same order as in function

        //Get the current language from twig ...
        switch ('{{ app.request.locale }}') {
            case 'eng_GB' :
                $scope.currency = 'eur';
                $scope.language = 'eng_GB';
                break;
            case 'dan_DK' :
                $scope.currency = 'dkk';
                $scope.language = 'dan_DK'
                break;
            default :
                $scope.currency = 'eur';
                $scope.language = 'eng_GB';
        }

        //Get the current chosen subscription from the XSstorage
        $scope.cbss = XSstorage.get('chosen_subsc');
        //If the chosen subscription is missing then redirect to the /Priser2 page (order wizard reset)
        if (!$scope.cbss) {
            $window.location = '/Priser';
        }
        else {
            console.debug("Current chosen base subscription: " + $scope.cbss.suid);
        }
        /* //no need
         $scope.asubscription = [];
         //Get the json from web
         $http.get('xsmtpdk/api/getasubscription/base_shared/'+cbss.suid).then(function(res){
         $scope.asubsc = res.data.responsevalue;
         });
         */
        $scope.flow = {};
        $scope.flow.extensions = {};

        //The update function
        $scope.UpdateBanner = function () {
            $scope.flow = {};
            angular.copy(XSstorage.get('chosen_subsc'), $scope.flow);
            if (!$scope.flow.extensions)$scope.flow.extensions
            $scope.flow.title = $scope.cbss.title;
            //the displayprice contains the price in the current currency
            $scope.flow.displayprice = parseInt($scope.flow.extensions.xs_price_tag[$scope.currency]);
            $scope.cuss = XSstorage.get('chosen_upgrade_subsc');
            //extract the bufferemails
            $scope.flow.buffer_emails = XSstorage.get('chosen_buffer_emails');
            if ($scope.flow.buffer_emails) {
                $scope.flow.buffer_emails_value = $scope.flow.buffer_emails.no_relays;
                $scope.flow.displayprice += parseInt($scope.flow.buffer_emails[$scope.currency]);
            }
            else $scope.flow.buffer_emails_value = 0;

            if ($scope.cuss) {
                if ($scope.cuss.extensions.xs_smtp_sendas_no)$scope.flow.extensions.xs_smtp_sendas_no += $scope.cuss.extensions.xs_smtp_sendas_no;
                if ($scope.cuss.extensions.xs_price_tag[$scope.currency])$scope.flow.displayprice += parseInt($scope.cuss.extensions.xs_price_tag[$scope.currency]);
                if ($scope.cuss.extensions.xs_expiry)$scope.flow.extensions.xs_expiry += $scope.cuss.extensions.xs_expiry;
            }

            console.info('checkoutBanner update complete');
        }
        $rootScope.UpdateBanner = $scope.UpdateBanner;
        //The event listener for update broadcasts    !!!this shit does not receive any broadcasts !!!!
        $scope.$on('updateSimpleBanner', function () {
            console.debug('event received');
            $scope.UpdateBanner();
        });
        //Trigger the initial banner update
        $scope.UpdateBanner();
        /////////////////////////////////////////
    }]);
</script>

<div id="checkoutSimpleBanner" ng-controller="SimpleBannerCtrl">

    <div class="container">
        <div class="row checkout_banner" style="font-weight:300;">
            <div class="col-lg-4"><p><span
                            style="text-transform:uppercase">{% verbatim %}{{ flow.title }}{% endverbatim %}</span><br/>
                    <span>{% verbatim %}{{ flow.extensions.xs_expiry }}{% endverbatim %} {{ 'days'|trans }}</span></p>
            </div>
            <div class="col-lg-4"><p><span
                            style="font-size:32px;">{% verbatim %}{{ flow.extensions.xs_smtp_sendas_no }}{% endverbatim %}
                        &nbsp;</span><span
                            style="font-size:16px;color:#999999"> E-MAIL {{ 'address'|trans|upper }}</span>
                    <span style="font-size:32px;">{% verbatim %}{{ flow.extensions.xs_daily_included_emails }}{% endverbatim %}
                        &nbsp;</span><span style="font-size:16px;color:#999999">{{ 'mails per day'|trans|upper }}</span><br/>
                    <span ng-if="flow.buffer_emails_value>0" class=""
                          style="...">{% verbatim %}{{ flow.buffer_emails_value }}{% endverbatim %}&nbsp;</span><span
                            ng-if="flow.buffer_emails_value>0" style="font-size:16px;color:#000"> BUFFER EMAILS</span>
                </p></div>
            <div class="col-lg-4" style="text-align:right;"><p><span
                            style="font-size:16px;color:#999999">{{ 'order total'|trans|upper }}:</span><span
                            class="bold">&nbsp;{% verbatim %}{{ flow.displayprice }}{% endverbatim %} {{ 'eur'|trans|upper }}</span>
                </p></div>

        </div>
    </div>


</div>