{# XPL_mod #}
<script>
    $(function () {
        $("#wizard").steps({
            headerTag: "h2",
            bodyTag: "section",
            transitionEffect: "slideLeft",

        });


    });
</script>
<div id="wizard">
    <h2>Buffer E-mails</h2>
    <section>
        <h2>Tilkøb buffer E-mails til dit abonnement</h2>

        <div class="row">
            <div class="col-lg-5">
                <p>Hvis du en gang imellem har brug for at sende flere mails end
                    dem du har til rådighed dagligt ( f.eks 75 daglige emails) fordi
                    der skal sendes et nyhedsbrev eller lignende til din mailing liste,
                    så kan du tilkøbe buffer emails her. </p>

                <p> Buffer emails virker på den måde, at hvis du har sendt alle dine
                    til rådighed 75 emails eller flere alt efter abonnementstype
                    (nulstilles hver dag kl 00.00), så vil de følgende emails 76, 77,
                    78 osv bliver sendt automatisk via dine buffer emails. Det giver
                    en sikkerhed for aldrig at løbe tør.</p>

                <p><strong>Du kan til enhver tid logge ind på din konto og tilkøbe buffer
                        emails hvis du ikke ønsker at tilkøbe lige nu…</strong></p>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6" style="text-align:center">
                <input type="text" id="drag-slider-1">
            </div>
        </div>
    </section>
    <h2>Abonnementsperiode</h2>
    <section>
        <h2>Forlæng og spar op til 40%</h2>

        <div class="row">
            <div class="col-lg-5">
                <p>Hvis du allerede nu tegner abonnement for 2 eller 3 år kan du spare
                    op til 40% i forhold til fornyelse hvert år.</p>

                <p>Du kan selvfølgelig også fornye årligt og opsige abonnementet når du
                    ikke har behov for det længere.
                </p>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6 order-img">
                <a href="#">{% image '@TuteiBaseBundle/Resources/public/images/2-years.png' %}
                    <img src="{{ asset_url }}" alt="image"/>
                    {% endimage %}</a>
                <a href="#">{% image '@TuteiBaseBundle/Resources/public/images/3-years.png' %}
                    <img src="{{ asset_url }}" alt="image"/>
                    {% endimage %}</a>
            </div>
        </div>
    </section>
    <h2>Konto information</h2>
    <section>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6"><p>Indtast dine informationer nedenfor og tryk på “Bestil” for at gå
                    videre til betalingen. Alle felter er påkrævet pånær “Firma” og “Telefon”.</p>

                <div class="col-lg-3"></div>
            </div>
            <div style="clear:both"></div>
            <fieldset>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-2"><label for="firma">Firma* </label></div>
                    <div class="col-lg-4"><input type="text" class="required" id="firma" required="required"></div>
                    <div class="col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-2"><label for="fornavn">Fornavn </label></div>
                    <div class="col-lg-4"><input type="text" id="fornavn"></div>
                    <div class="col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-2"><label for="efternavn">Efternavn </label></div>
                    <div class="col-lg-4"><input type="text" id="efternavn"></div>
                    <div class="col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-2"><label for="email">Email </label></div>
                    <div class="col-lg-4"><input type="email" id="email"></div>
                    <div class="col-lg-3"></div>
                </div>

            </fieldset>
    </section>
    <h2>Betaling</h2>
    <section>
        <p>Quisque at sem turpis, id sagittis diam. Suspendisse malesuada eros posuere mauris vehicula vulputate.
            Aliquam sed sem tortor.
            Quisque sed felis ut mauris feugiat iaculis nec ac lectus. Sed consequat vestibulum purus, imperdiet varius
            est pellentesque vitae.
            Suspendisse consequat cursus eros, vitae tempus enim euismod non. Nullam ut commodo tortor.</p>
    </section>
</div>
</div>
