{% extends "DSAdminBundle::pagelayout.html.twig" %}
{% block main %}
    {{ include('DSAdminBundle:Partials:flashmessage.html.twig') }}
    <h1>Hello!</h1>
    <a href="{{ path('ds_admin_logout') }}">Log out</a>
{% endblock %}