{# XPL_mod #}
<footer>
    <div class="footer">
        <div class="container ">
            <div class="row footer-padding"></div>

            <div class=" col-lg-4 counter col-md-12 col-sm-12 col-xs-12">
                <div id="live_mail_counter" class="col-lg-8">{# 8 values number #}</div>
                <div id="live_mail_counter_description"
                     style="display:inline-block; visibility:hidden; margin-top:45px; padding:0;"
                     class="col-lg-4"> {{ 'mails sent today'|trans|raw }}</div>
            </div>


            <div class="col-lg-3 oblique-line hidden-sm hidden-xs hidden-md"><img
                        class="remove-small img-center center-block"
                        src="{{ asset('bundles/tuteibase/images/gauge.png') }}"></div>

            <div class="col-lg-5">
                <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                    <div class="list-unstyled pull-right list-with-headers list-inline-wrapper">
                        {{ ez_render_field( footerContent, 'left' ) }}
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div style=" margin:0 auto; float:none;" class="list-with-headers list-unstyled footer_my_list pull-right list-inline-wrapper">
                        {{ ez_render_field( footerContent, 'center' ) }}
                    </div>


                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-1 social_div">
                    <div class="list-with-headers">
                        <ul class="list-inline pull-right">
                            <li>Community</li>
                            <li><a href="https://www.facebook.com/mysmtp" target="_blank"><i
                                            class="fa fa-facebook fa-2x"></i></a></li>
                            <li><a href="https://twitter.com/mysmtp" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div style=" clear:both"></div>
                </div>
                <div class="col-lg-12">
                    <div class="list-inline-wrapper footer_copy pull-right">
                        {{ ez_render_field( footerContent, 'bottom' ) }}
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>