{# XPL_mod #}
{# XPL_PATCH locale initialisation #}
{% set current_siteaccess = ezpublish.siteaccess.name %}
{% set current_language = siteaccess[current_siteaccess].locale %}
{# // #}

<script type="application/x-javascript">

    xs_angular_app.controller('LegacyCtrl', ["$scope", "$http", "$timeout", "$window", "XSstorage", function ($scope, $http, $timeout, $window, XSstorage) {  //variables have to be defined before function, in the same order as in function

        //Get the current language from twig ...
        switch ('{{ current_language }}') {
            case 'eng_GB' :
                $scope.currency = 'eur';
                $scope.language = 'eng_GB';
                $scope.legacy_site_url = "www.mysmtp.eu";
                break;
            case 'dan_DK' :
                $scope.currency = 'dkk';
                $scope.language = 'dan_DK';
                $scope.legacy_site_url = "www.smtp.dk";
                break;
            default :
                $scope.currency = 'eur';
                $scope.language = 'eng_GB';
        }
        //initialize the empty form data
        $scope.formData = {
            Login: '',
            Password: '',
            RedirectAfterLogin: '/layout/set/ajax/signup/getcurrentuserlogin',
            RedirectURI: '/layout/set/ajax/signup/getcurrentuserlogin'
        };

        $scope.legacyIframeUrl = 'https://' + $scope.legacy_site_url + '/layout/set/beta/konto';
        ;
        $scope.have_iframe = false;
        $scope.highlightError = "white";
        $scope.legacy_login = null;
        $scope.processing = false;

        //Get the current legacy user login
        //Not normal get, because I have to specify the withCredentials, otherwise no CORS cookies will be retrieved
        $http({
            method: 'GET',
            url: 'https://' + $scope.legacy_site_url + '/layout/set/ajax/signup/getcurrentuserlogin',
            withCredentials: true
        }).success(function (data) {
            if (data.responsevalue.hasOwnProperty('login')) {
                XSstorage.set('legacy_login', data.responsevalue.login) //store the login information
                $scope.assessment();
            }
            else {
                XSstorage.remove('legacy_login');//remove the login information
                $scope.assessment();
            }
        });

        //assess and do smth
        $scope.assessment = function () {
            //refresh situation
            if (angular.element('#legacy_dashboard_iframe:visible').length > 0)$scope.have_iframe = true;
            else $scope.have_iframe = false;
            $scope.legacy_login = XSstorage.get('legacy_login');
            //Situation assessment
            if ($scope.have_iframe && $scope.legacy_login)angular.element('#legacy_dashboard_iframe').attr('src', 'https://' + $scope.legacy_site_url + '/layout/set/beta/konto/');
            else if ($scope.have_iframe && !$scope.legacy_login)$window.location = '/';
        }

        // process the form
        $scope.processForm = function () {
            //trim the login of whitespaces
            $scope.formData.Login = $scope.formData.Login.trim();
            console.log($scope.formData.Login);
            //If error not corrected by user, do nothing
            if ($scope.highlightError == "red")return false;
            //If less than 3 letters in login, then highlight and do nothing
            if ($scope.formData.Login.length < 3 || $scope.formData.Password.length < 3) {
                $scope.highlightError = "red";
                return false;
            }

            $scope.processing = true;//disable the login button
            $scope.formData.Login = $scope.formData.Login.trim();
            $http({
                method: 'POST',
                url: 'https://' + $scope.legacy_site_url + '/layout/set/ajax/user/login/',
                data: $.param($scope.formData),  // pass in data as strings
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                withCredentials: true
            })
                    .success(function (data) {
                        /*
                         //trim the data response string of whitespaces
                         var response = data.trim();
                         */
                        if (!data.hasOwnProperty('responsevalue')) {
                            console.log("Invalid login");
                            //Mark the text fields in red to show login error !
                            $scope.highlightError = "red";

                        } else {
                            console.log("User: " + data.responsevalue.login + " is logged in legacy site");
                            XSstorage.set('legacy_login', data.responsevalue.login) //store the login information
                            //At this point the user is logged in. Now the iframe has to be opened in the legacy dashboard
                            //$scope.$apply;
                            $scope.assessment();
                            if (!$scope.have_iframe)$window.location = '/Dashboard_legacy';
                        }
                    });
        };
        /////////////////////////////////////////
        $scope.legacyLogout = function () {
            $http({
                method: 'GET',
                url: 'https://' + $scope.legacy_site_url + '/layout/set/ajax/user/logout',
                withCredentials: true
            })
                    .success(function (data) {
                        response = data.trim();
                        console.log('User: ' + $scope.legacy_login + ' logged out from legacy site');
                        XSstorage.remove('legacy_login');//remove the login information
                        $scope.assessment();
                    });
        }
        //Live update highlighting on credential input fields
        $scope.$watch('formData.Login', function (newValue, oldValue) {
            if (newValue != oldValue)
                if ($scope.highlightError != "white") {
                    $scope.highlightError = "white";
                    $scope.processing = false; //reenable the login button
                }
        }, true);
        $scope.$watch('formData.Password', function (newValue, oldValue) {
            if (newValue != oldValue)
                if ($scope.highlightError != "white") {
                    $scope.highlightError = "white";
                    $scope.processing = false; //reenable the login button
                }
        }, true);
    }]);
</script>

{% for item in list.searchHits %}
    <li>{{ render(
        controller(
        'ez_content:viewLocation',
        {
            'locationId': item.valueObject.versionInfo.contentInfo.mainLocationId,
            'viewType': 'menu_item'
        }
        )
        ) }}</li>
{% endfor %}


<li ng-show="legacy_login != null"><a ng-click="legacyLogout()" href="">{{ 'logout'|trans|capitalize }}</a></li>
<li ng-show="legacy_login != null"><a href="/Dashboard_legacy">Dashboard</a></li>

<li ng-show="legacy_login == null" class="dropdown hover-toggle xpl_dropdown" data-hover="xpl_login">

    <a href="{{ "/login" }}" class="dropdown-toggle" data-toggle="dropdown">{{ 'customer login'|trans|capitalize }}
        <!--<span class="caret">--><!--<span class="round"></span>--></a>
    <ul class="dropdown-menu pull-right xpl_login">
        <li>
            <div class="navbar-form">

                <form ng-submit="processForm()">

                    <div>
                        <div style="line-height: 25px;width: 108px;float: left;">
                            <label for="id1">{{ 'Admin E-mail' |trans }}</label></div>
                        <input type="text" ng-model="formData.Login" ng-style="{'color': highlightError}"
                               autocomplete="off" tabindex="1" value="" id="toplogin_id1" name="_username" size="12"
                               class="halfbox" style="float:right;">
                    </div>
                    <div style="clear:both; height:5px;"></div>
                    <div>
                        <div style="line-height: 25px;width: 108px;float: left;">
                            <label for="id2">Password</label></div>
                        <input type="password" ng-model="formData.Password" ng-style="{'color': highlightError}"
                               autocomplete="off" tabindex="1" value="" id="toplogin_id2" name="_password" size="12"
                               class="halfbox" style="float:right;">
                    </div>
                    <div style="clear:both; height:5px;"></div>
                    <div style="width: 120px;float: left;">
                        <a href="#"
                           style=" color:#aaaaaa; font-weight:normal; margin:0 !important; padding:0 !important; font-size:12px;">>
                            forgot password?</a><br/>
                        <a href="{{ render(controller('xsmtpdk_controller:urltranslator', { 'url' : '/Priser', 'language' : current_language })) }}"
                           style=" color:#aaaaaa; font-weight:normal; margin:0 !important; padding:0 !important; font-size:12px;">>
                            not registered yet?</a>
                    </div>
                    <div class="buttonblock" style="text-align:right;">
                        <input type="submit" ng-disabled="processing" ng-style="{'color': highlightError}" tabindex="1"
                               value="{{ 'login'|trans|capitalize }}" id="toplogin_idb" name="LoginButton"
                               class="defaultbutton" style="margin-top:5px;">

                        <!--<input type="submit" tabindex="1" value="Sign Up" name="RegisterButton" class="button">-->
                    </div>
                    <input type="hidden" value="" name="RedirectURI">
                </form>

            </div>
        </li>
    </ul>
</li>
