{% if invalid_username is defined %}
    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
{% endif %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="box">
        <div class="box-content">

            <div class="text-center">
                <h3 class="page-header">Forgot Password</h3>
            </div>

            <div class="form-group">
                <label for="username" class="control-label">Email</label>
                <input type="text" id="username" name="username" class="form-control" required="required" />
            </div>

            <div class="text-center">
                <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </div>
    </div>
</form>
